{% extends 'base.html.twig' %}
{% block body %} 
    <h1 class="display-6 small text-center">Bem vindo a "Agenda de Contatos"</h1>
    <p class="text-md-start">Este sistema tem como objetivo apresentar os conhecimentos de desenvolvimento web, com ênfase na linguagem de programação PHP. O projeto consiste em manter CRUDs para as entidades: 'Pessoa' e 'Contato', avaliando aspectos de boas práticas e clean code apresentado pelo desenvolvedor.</p> 
    <p class="text-md-start">O sistema foi implementado utilizando os seguintes recursos:</p>
    <ul>
        <li>Bootstrap(Front-end);</li>
        <li>Composer(Gerenciador de dependências);</li>
        <li>Doctrine(ORM);</li>
        <li>PostgreSQL(Banco de Dados);</li>
        <li>Symfony(Back-end).</li>
    </ul>

    <p class="text-md-start">Pacotes adicionados via Composer:</p>
    <ul>
        <li>annotations;</li>
        <li>symfony/form;</li>
        <li>symfony/maker-bundle;</li>
        <li>symfony/orm-pack;</li>
        <li>symfony/twig-bundle;</li>
        <li>twig;</li>
    </ul>
{% endblock %}