{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="h1 text-center fst-italic fw-lighter">Bem vindo a "Agenda de Contatos"</h1>

    <div class="card">
      <div class="card-body">
        <p class="">Este sistema tem como objetivo apresentar os conhecimentos de desenvolvimento web, com ênfase na linguagem de programação PHP. O projeto consiste em manter CRUDs para as entidades: 'Pessoa' e 'Contato', avaliando aspectos de boas práticas e clean code apresentado pelo desenvolvedor.</p>
      </div>
    </div>

    <p class="h4 mt-3">O sistema foi implementado utilizando os seguintes recursos:</p>

    <ul class="list-group list-group-numbered">
        <li class="list-group-item">Bootstrap(Front-end);</li>
        <li class="list-group-item">Composer(Gerenciador de dependências);</li>
        <li class="list-group-item">Doctrine(ORM);</li>
        <li class="list-group-item">PostgreSQL(Banco de Dados);</li>
        <li class="list-group-item">Symfony(Back-end).</li>
    </ul>

    <p class="h4 mt-4">Pacotes adicionados via Composer:</p>

    <ul class="list-group list-group-numbered">
        <li class="list-group-item">orm;</li>
        <li class="list-group-item">symfony/form;</li>
        <li class="list-group-item">symfony/maker-bundle;</li>
        <li class="list-group-item">symfony/orm-pack;</li>
        <li class="list-group-item">symfony/twig-bundle;</li>
        <li class="list-group-item">twig;</li>
    </ul>
{% endblock %}
